In [1]:
import os
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt
import pandas as pd
import json
from PIL import Image
import ipyplot
import random

In [2]:
twitter_images = pd.read_csv("data/food_images.csv")
twitter_images = twitter_images[['images', 'category']]
#number of unique food images
print(len(twitter_images['images'].unique()))
print(len(twitter_images))

5347
8694

In [3]:
twitter_images.head()

                images category
0  EqbL4BIXcAE8BoY.jpg    bread
1  EqEkgPWXEAAeffW.jpg    bread
2  Eo-NtM9XMAEhun1.jpg    bread
3  Enl6PynXEAAW-yL.jpg    bread
4  EngntbPXcAE_Xk7.jpg    bread

In [4]:
# save to CSV
# in annotate in a google sheet

In [5]:
twitter_images.sort_values(by = ['category','images']).\
        to_csv("data/manual_annotation/to_annotate.csv", index = False)

In [6]:
twitter_clean = pd.read_csv("data/manual_annotation/annotated.csv")

In [7]:
len(twitter_clean)

8694

In [8]:
print(len(twitter_clean.loc[twitter_clean['contains']=="1"]))
print(len(twitter_clean.loc[twitter_clean['contains']=="1"]['images'].unique()))

4481
3692

In [9]:
twitter_clean.head()

           category               images contains
0             salad  C_2B1WmXUAArQSi.jpg        0
1           spinach  C_2B1WmXUAArQSi.jpg        1
2  pasta OR noodles  C_2OXh0XoAE4onq.jpg        1
3             sauce  C_43UkFXoAATq0Z.jpg        1
4         spaghetti  C_43UkFXoAATq0Z.jpg        1